.App {
    text-align: center;
    background-color: #282c34;
}
.controller {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.param-form,
.item-1,
.item-2 {
    min-width: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: forestgreen;
    padding: 10px;
    margin: 5px;
}
.single-mode-form, .rainbow-mode-form {
  background-color: white;
  color: #282c34;
}